

<body>

	<div class="contianer">
		<div class="row">
			<div class="col-md-3">
				<h1>Announcements</h1>
				<div class="form-group">






					  <label for="comment">Message</label>
					    <textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
	
			</div>
			<div class="col-md-8 offset-md-1">
				<h1>Schedule</h1>
			</div>
		
		
		</div>
	</div>
			

</body>
