<div class="title"><h1>Announcements</h1></div>

<div class="announcements-table container">
  <% @announcements.each do |a| %>
    <table>
      <tr>
        <th><%= a.subject %></th>
      </tr>


      <tr>
        <td class="date">Posted on <%= format_time(a.created_at) %>, Updated on <%= format_time(a.updated_at) %></td>
      </tr>

      <tr>
        <td class="details"><%= a.details %></td>
      </tr>

    </table>
  <% end %>
</div>