<h1 style="flex: none;"><%= @place.name %></h1>
<div style="display: flex; flex-direction: column; padding: 32px 40px; justify-content: space-around;">
  <%= submit_tag("Update", id: 'update-button', data: { disable_with: false }, class: "btn btn-large btn-primary btn-nav") %>
  <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-danger btn-nav") %>
  <%= link_to "Back", availabilities_places_path, class: "btn btn-large btn-light btn-nav" %>
</div>
