<div class="container-fluid availabilities-places-container">
  <div>
    <h2 class="availabilities-admin-heading">Places</h2>
    <div class="availabilities-admin-update-button-container availabilities-admin-update-button-color" >
      <% @places.each do |place| %>
        <%= link_to place.name, edit_availabilities_place_path(id: place.id), class: "btn btn-large btn-primary btn-nav", style: "padding: 16px;" %>
      <% end %>
    </div>
    <div class="availabilities-admin-update-button-container">
      <%= link_to "Show all", show_everyone_availabilities_path, class: "btn btn-large btn-light btn-nav", style: "padding: 16px;" %>
      <%= link_to "Back", duties_path, method: "get", class: "btn btn-large btn-danger btn-nav", style: "padding: 16px;" %>
    </div>
  </div>
</div>
