<h1> The user </h1>
<table>
  <tr>
    <th>Username</th>
    <th>Author</th>
    <th>Computer Number</th>
    <th>Description</th>
    <th>Fixed</th>
  </tr>
  <% @users.each do |p| %>
    <tr>
      <td><%= p.email %></td>
      
      <td><%= link_to 'Show', user_path(p) %></td>
      <td><%= link_to 'Edit', edit_user_path(p) %></td>
      <td><%= link_to 'Delete', user_path(p), method: :delete, data:{confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
