<% (@start_date..@end_date).each do |date| %>
  <div class="table-columns">
    <div class="table-columns-padded">
      <% Duty.includes(:timeslot).where(date: date, 'timeslots.place_id' => @place.id).each do |duty| %>
        <% tr = duty.timeslot.time_range %>
        <div class="timeslot" style="
          top: <%= calc_offset(tr)%>px;
          height: <%= calc_slot_height(tr) %>px;">
        <div class="timeslot-vertical"></div>
        <%= generate_select_duties(duty) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
