<div class="container-fluid availabilities-places-container">
  <div>
    <h2 style="border-bottom: 1px solid #e0e0e0; padding: 32px 64px;">Places</h2>
    <div style="display: flex; flex-direction: column; align-items: stretch; padding: 32px; border-bottom: 1px solid #e0e0e0;">
      <% @places.each do |place| %>
        <%= link_to place.name, edit_duties_place_path(id: place.id), class: "btn btn-large btn-primary btn-nav", style: "padding: 16px;" %>
      <% end %>
    </div>
    <div style="display: flex; flex-direction: column; align-items: stretch; padding: 32px;">
      <%= link_to "Back", duties_path, method: "get", class: "btn btn-large btn-danger btn-nav", style: "padding: 16px;" %>
    </div>
  </div>
</div>
