// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-container {
  border: 3px solid #000;

  h1 {
    font-size: 2em;
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 1.3em;
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 1.7em;
      text-align: center;
    }
  }
}

.sidebar {
  text-align: center;
}

.post {
  border: 1px solid #000;
  margin-bottom: 5px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  font-size: 0.7em;
}

.content {
  overflow-wrap: break-word;
  padding: 5px;
}

.content-modal {
  overflow-wrap: break-word;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-title {
  line-height: 1;
}

.title {
  h1 {
    padding: 20px 20px 0px 20px;
  }

  @media (min-width: 1025px) {
    h1 {
      padding: 20px 20px 0px 50px;
    }
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 2rem;
    }
  }
}

.announcements-table {
  padding-left: 20px;
  padding-right: 20px;
}

table {
  margin-top: 2%;
  width: 100%;
  border-collapse: collapse;
  border: 0.5px solid #696969;
  box-shadow: 0 0 10px 1px #808080;
}

th {
  background-color: #feb600;
  font-weight: bolder;
  height: 50px;
  box-shadow: 0 0.5px #808080;
  padding-left: 10px;
}

td {
  background-color: #fff8dc;
  padding: 0px 10px 10px 10px;
}

.date {
  font-style: italic;
  padding-top: 10px;
}

.details {
  text-align: justify;
}
