// Place all the styles related to the availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.availabilities-container {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding: 50px;
}

.dayname {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 4em;
}

.table-availabilities td {
  touch-action: manipulation;
  line-height: 40px;
}

.table-availabilities-all {
  table-layout: fixed;
}

.time-label {
  display: block;
  position: relative;
  font-weight: normal;
}

.time-label-cell {
  width: 120px;
}

.time-label-cell-empty {
  width: 50px;
}

.availability-yes {
  background-color: white;
  border: 1px solid black;
}

.availability-no {
  background-color: $light-grey;
  border: 1px solid black;
}

.availability-yes-pending {
  background-color: white;
  border: 1px solid black;
}

.availability-no-pending {
  background-color: $light-grey;
  border: 1px solid black;
}

.white-text, .white-text:link, .white-text:visited, .white-text:hover, .white-text:active {
  color: white;
}

.instruction {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.box-no {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: $light-grey;
  float: left;
}

.box-yes {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
  float: left;
}

.instruction-label {
  margin-right: 20px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  float: left;
}

.availabilities-all-cell {
  border: 1px solid #000 !important;
}

.availability-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li.text-overflow-ellipsis {
  list-style-position: inside;
}

.body {
  text-rendering: geometricPrecision;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.places-container {
  display: flex;
  height: calc(100% - 71px);
  flex-direction: column;
}

.edit-places-form {
  display: flex;
  flex: 1 1 auto;
}

.edit-places-nav {
  display: block;
  flex: 1 1 auto;
  width: 200px;
  border-right: 1px solid #e0e0e0;
  padding: 8px 0;
}

.edit-places-table {
  display: flex;
  flex-direction: column;
  flex: 20 20 auto;
}

.edit-places-heading {
  display: flex;
  flex: none;
}

#scroll-table {
  display: flex;
  flex: 1 1 10%;
  overflow-y: scroll;
  border-top: 1px solid #e0e0e0;
  align-items: flex-start;
}

.edit-places-empty-heading {
  flex: 0 0 auto;
  height: 100px;
  width: 48px;
  border-right: 1px solid #e0e0e0;
}

.heading-group {
  flex: 1 1 auto;
  display: flex;
}

.places-day-heading {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex: 1 1 0%;
  border-right: 1px solid #e0e0e0;
}

.places-day-text {
  margin-left: 10px;
  font-size: 32px;
  line-height: 64px;
  overflow: hidden;
}

.time-heading {
  flex: none;
  width: 48px;
  border-right: 1px solid #e0e0e0;
  height: calc(24*80px);
}

.time-block {
  height: 80px;
  text-align: center;
}

.table-cells {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.table-columns {
  flex: 1 1 0%;
  border-right: 1px solid #e0e0e0;
  padding-right: 12px;
}

.table-columns-padded {
  width: 100%;
  height: 100%;
  position: relative;
}

.time-text {
  position: relative;
  top: -12px;
  font-size: 10px;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
  min-height: 40px;
}

select.availability-select {
  color: white;
  padding: 0 0 0 10px;
  font-size: 14px;
  height: 100%;
  width: 100%;
  appearance: none;
  text-overflow: '';
  border: none;
  background-color: transparent;
  touch-action: manipulation;
}

.row-lines {
  height: 80px;
}

.row-lines:after {
  content: '';
  border-bottom: #e0e0e0 1px solid;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 3;
  pointer-events: none;
}

.timeslot {
  z-index: 3;
  position: absolute;
  border-radius: 4px;
  width: 100%;
  background-color: #009688;
}

.timeslot-vertical {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: gray;
  border-radius: 4px 0 0 4px;
}

.btn-nav {
  margin: 16px;
}
