// Place all the styles related to the availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.dayname {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 4em;
}

table td {
  line-height: 40px;
}
.time-label {
  display: block;
  position: relative;
  left: -25px;
  font-weight: normal;
}
.availability-yes {
  background-color: $color-green;
  border: 1px solid white;
}
.availability-no {
  background-color: $color-red;
  border: 1px solid white;
}
