// Place all the styles related to the availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants";

.availabilities-places-container {
  align-items: center;
  display: flex;
  height: calc(100% - #{$navbar-height});
  justify-content: center;
}

.availabilities-container {
  overflow-x: auto;
  padding: 50px;
  white-space: nowrap;
  width: 100%;
}

.dayname {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 4em;
}

.table-availabilities td {
  line-height: 40px;
  touch-action: manipulation;
}

.table-availabilities-all {
  table-layout: fixed;

  td {
    height: 2rem;

    .mc {
      font-weight: bold;
    }
  }
}

.time-label {
  display: block;
  font-weight: normal;
  position: relative;
}

.time-label-cell {
  width: 150px;
}

.time-label-cell-empty {
  width: 50px;
}

.availability {
  border-radius: 4px;
  position: absolute;
  touch-action: manipulation;
  transition: box-shadow .2s;
  width: 100%;
  z-index: 3;
}

.availability:hover {
  box-shadow: 0 6px 10px 0 $transparent-black-1, 0 1px 18px 0 $transparent-black-2, 0 3px 5px -1px $transparent-black-3;
  z-index: 1002 !important;
}

.availability-yes {
  background-color: $dark-cyan;
}

.availability-no {
  background-color: $free-speech-red;
}

.availability-yes-pending {
  background-color: $dark-cyan;
}

.availability-no-pending {
  background-color: $free-speech-red;
}

.availability-vertical {
  border-radius: 4px 0 0 4px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.vertical {
  background-color: $grey;
}

.vertical-pending {
  background-color: $orange;
}

.white-text,
.white-text:link,
.white-text:visited,
.white-text:hover,
.white-text:active {
  color: $white;
}

.instruction {
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.box-no {
  background-color: $light-grey;
  border: 1px solid $black;
  float: left;
  height: 20px;
  width: 20px;
}

.box-yes {
  background-color: $white;
  border: 1px solid $black;
  float: left;
  height: 20px;
  width: 20px;
}

.instruction-label {
  float: left;
  margin-left: 5px;
  margin-right: 20px;
  position: relative;
  top: -2px;
}

.availabilities-all-cell {
  border: 1px solid $black !important;
}

.availability-list {
  list-style-type: none;
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-ellipsis {
  list-style-position: inside;
}

.body {
  text-rendering: geometricPrecision;
}

html,
body {
  height: 100%;
}

.places-container {
  height: calc(100% - #{$navbar-height});
  padding: 0 !important;
}

.edit-places-form {
  height: 100%;
  margin: 0 !important;
  width: 100%;
}

.edit-places-nav {
  border-right: 1px solid $border-grey;
  height: 100%;
  padding: 0 !important;
}

.edit-places-table {
  display: flex;
  flex: 20 20 auto;
  flex-direction: column;
  height: 100%;
}

.edit-places-heading {
  display: flex;
  flex: none;
}

#scroll-table {
  align-items: flex-start;
  border-top: 1px solid $border-grey;
  display: flex;
  flex: 1 1 10%;
  overflow-y: scroll;
}

.edit-places-empty-heading {
  border-right: 1px solid $border-grey;
  flex: 0 0 auto;
  height: 100px;
  width: 48px;
}

.heading-group {
  display: flex;
  flex: 1 1 auto;
}

.places-day-heading {
  align-items: flex-end;
  border-right: 1px solid $border-grey;
  display: flex;
  flex: 1 1 0%;
  overflow: hidden;
}

.places-day-text {
  font-size: 32px;
  line-height: 64px;
  margin-left: 10px;
  overflow: hidden;
}

.time-heading {
  border-right: 1px solid $border-grey;
  flex: none;
  height: calc(24 * 80px);
  width: 48px;
}

.time-block {
  height: 80px;
  text-align: center;
}

.table-cells {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.table-columns {
  border-right: 1px solid $border-grey;
  flex: 1 1 0%;
  padding-right: 12px;
}

.table-columns-padded {
  height: 100%;
  position: relative;
  width: 100%;
}

.time-text {
  font-size: 10px;
  position: relative;
  top: -12px;
}

:scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

:scrollbar-thumb {
  background: $gainsboro;
  border: 0;
  box-shadow: none;
  min-height: 40px;
}

.availability-select {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: $white;
  font-size: 14px;
  height: 100%;
  padding: 0 0 0 10px;
  text-overflow: '';
  touch-action: manipulation;
  width: 100%;
}

.row-lines {
  height: 80px;
}

.row-lines::after {
  border-bottom: $border-grey 1px solid;
  content: '';
  margin-top: -1px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.timeslot {
  background-color: $dark-cyan;
  border-radius: 4px;
  position: absolute;
  transition: box-shadow .2s;
  width: 100%;
  z-index: 3;
}

.timeslot:hover {
  box-shadow: 0 6px 10px 0 $transparent-black-1, 0 1px 18px 0 $transparent-black-2, 0 3px 5px -1px $transparent-black-3;
  z-index: 1002 !important;
}

.timeslot-vertical {
  background-color: $grey;
  border-radius: 4px 0 0 4px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.btn-nav {
  margin: 16px;
}
