$yellow: #feb600;
$grey: #808080;
$dim-grey: #696969;
$light-yellow: #ffd700;
$dark-grey: #a9a9a9;
$border-grey: #e0e0e0;
$red: #ff0000;
$dark-cream: #f6e1af;
$cream: #fff8dc;
$light-grey: #aaaaaa;
$dark-cyan: #009688;
$free-speech-red: #d50000;
$gainsboro: #ddd;
$light-red: #ebb;
