$yellow: #feb600;
$grey: #808080;
$dim-grey: #696969;
$light-yellow: #ffd700;
$dark-grey: #a9a9a9;
$border-grey: #e0e0e0;
$red: #f00;
$dark-cream: #f6e1af;
$cream: #fff8dc;
$light-grey: #aaa;
$dark-cyan: #009688;
$free-speech-red: #d50000;
$gainsboro: #ddd;
$light-red: #ebb;
$orange: #f4511e;

$white: #fff;
$black: #000;
$transparent-white-0: rgba(255, 255, 255, 0);
$transparent-white: rgba(255, 255, 255, .2);

$transparent-black-0: rgba(0, 0, 0, 0);
$transparent-black-1: rgba(0, 0, 0, .14);
$transparent-black-2: rgba(0, 0, 0, .12);
$transparent-black-3: rgba(0, 0, 0, .2);
$transparent-black-4: rgba(0, 0, 0, .5);

$navbar-height: 71px; // Obtained from tallest element in navbar+padding+border
