// Place all the styles related to the duties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scrollable {
  overflow: auto;
}

.schedule-container {
  min-width: 57.6rem;
}

.schedule-time {
  transform: translateX(-50%);
  width: fit-content;
}

td.schedule-daynames {
  font-weight: bold;
  width: 4em;
  background-color: inherit !important;
}

td.schedule-timings {
  padding: 0;
  margin: 0;
}

.table-striped-columns tbody td:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}
