// Place all the styles related to the duties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.no-padding-top {
  padding-top: 0;
}

h1 {
  background-color: $black;
  box-shadow: 0 1px 10px $grey,
              inset 1px -3px 3px -1px $grey;
  color: $yellow;
  font-family: Verdana, sans-serif;
  margin-top: 0;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-top: 2%;
  text-shadow: 0 -.5px 0 $light-yellow,
               0 .5px 0 $light-yellow;
  width: 100%;
}

.next-week {
  text-align: right;
  width: 100%;
}

.scrollable {
  overflow: auto;
}

.schedule-container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  width: 100%;
}

.schedule-time {
  width: fit-content;
}

.schedule-daynames {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 4em;
}

.schedule-timings {
  background-color: $yellow;
  margin: 0;
  padding: 0;
  width: 150px;
}

.schedule-hours {
  border: 1px solid $black;
}

.no-padding {
  padding: 0;
}

.schedule-left {
  width: fit-content;
}

.schedule-right {
  flex-grow: 100;
}

.schedule-name {
  border: 1px solid $black !important;
  text-align: center;
  text-overflow: ellipsis;
  width: 170px;
}

.schedule-name-empty {
  background-color: $light-grey;
  border: 1px solid $black !important;
}

.duty-table {
  padding-left: 20px;
  table-layout: fixed;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duty-table-header {
  padding-top: 10px;

  .duty-table-button {
    box-shadow: 0 2px 2px $grey;
    font-size: 13px;
    margin-right: 10px;
  }

  @media (max-width: 400px) {
    .duty-table-button {
      box-shadow: 0 2px 2px $grey;
      font-size: 11px;
      margin-right: 0;
      padding: .375rem .50rem;
    }
  }
}

.body-container {
  margin-left: 20px;
  margin-right: 10px;
}

#announcement-sidebar {
  display: block;
}

#grab-drop-modal {
  bottom: 25%;
  left: 25%;
  outline: none;
  right: 25%;
  top: 25%;
}

.my-duty-cell {
  background-color: $light-red;
}
