.alert.alert-danger {
  margin-bottom: 0;
}

.login {
  background: image-url('welcome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;

  .alert {
    color: $white;
    font-weight: bold;
    text-shadow: 0 0 10px $black;
  }

  .container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 90%;
  }

  .field {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  #user_username,
  #user_email,
  #user_password {
    background-color: $transparent-black-0;
    border-bottom: 2px solid $yellow;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 8px 10px -7px $grey;
    color: $black;
    display: block;
    font-size: 16px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  #user_remember_me {
    margin-top: 0;
    vertical-align: middle;
  }

  ::placeholder {
    color: $dark-grey;
  }

  label {
    color: $dim-grey;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .actions {
    margin-top: 40px;

    input {
      background-color: $yellow;
      border: 2px solid $yellow;
      border-radius: 50px;
      box-shadow: 0 2px 8px $transparent-black-4,
                  inset 1px 1px 3px -1px $light-yellow;
      color: $black;
      display: block;
      font-size: 14px;
      font-weight: bold;
      height: 46px;
      margin-left: auto;
      margin-right: auto;
      text-shadow: 0 -1px 0 $black,
                   0 1px 0 $transparent-white;
      width: 100%;
    }

    input:hover {
      background-color: $transparent-white-0;
      box-shadow: inset 0 2px 4px $white;
      color: $black;
    }
  }

  .box {
    min-width: 200px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .account-wall {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 30px $grey;
    height: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
    text-align: center;
  }

  form#new_user.new_user {
    margin-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
  }

  .footer {
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    color: $yellow;
    height: 30px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;

    p {
      font-size: 10px;
      line-height: 30px;
      margin-bottom: 0;
    }

    .container {
      height: 100%;
      width: 100%;
    }
  }


  a {
    color: $dim-grey;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover {
    color: $yellow;
    text-decoration: underline;
  }

  // password
  .password h3 {
    margin-top: 0;
    text-align: left;
  }

  .password p {
    color: $grey;
    font-size: 11px;
    margin-bottom: 20px;
    text-align: left;
  }

  .password .account-wall {
    padding-bottom: 8%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
  }

  .password form#new_user.new_user {
    padding-left: 0;
    padding-right: 0;
  }

  .password .actions input {
    margin-top: 25px;
    text-shadow: 0 -.3px 0 $black,
                 0 .5px 0 $transparent-white;
  }

  h2 {
    color: $red;
    font-size: 12px;
  }

  ul {
    color: $red;
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
  }

  @media (max-device-width: 700px) {
    .container,
    .row,
    .box {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    img {
      height: 30%;
      width: 80%;
    }

    .account-wall {
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 20%;
      padding-top: 20%;
      top: 50%;
      width: 100%;
    }

    #user_username,
    #user_email,
    #user_password {
      height: 5%;
      margin-bottom: 5%;
      margin-top: 10%;
    }

    #user_remember_me {
      height: 15px;
      width: 15px;
    }

    .actions input {
      height: 5%;
      margin-top: 3%;
      width: 60%;
    }
  }
}
