// Place all the styles related to the problem_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.no-padding {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.alert-box {
  margin-bottom: 0;
}

.problem-report-btn {
  box-shadow: 0px 2px 2px #888888;
  font-size: 13px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .problem-report-btn {
    padding: 0.375rem 0.50rem;
    box-shadow: 0px 2px 2px #888888;
    font-size: 11px;
    margin-right: 0px;
  }
}

.problem-report-table {
  margin-top: 2%;
  width: 100%;
  border-collapse: collapse;
  border: 0.5px solid $dim-grey;
  box-shadow: 0 0 10px 1px $grey;

  .last-updated-at, .last-updated-by {
    font-size: 12px;
  }

  th {
    background-color: $yellow;
    font-weight: bolder;
    height: 50px;
    box-shadow: 0 0.5px $grey;
    text-align: center;
  }

  td {
    text-align: center;
    height: 40px;
  }

  tr:nth-child(even) {
    background-color: $cream;
  }

  tr:nth-child(odd) {
    background-color: $dark-cream;
  }
}

.new-problem-report-table {
  padding: 10px;
  background-color: #f6e1af;
  margin-bottom: 10px;

  table {
    width: 100%;
  }

  .name, .venue, .pc-number, .description {
    text-align: center;
  }

  .new-problem-report-form {
    background-color: #fff8dc;
  }

  .submit-btn {
    text-align: center;
  }
}

ul.btn-container {
  padding-left: 0px;

  & > li {
    display: inline-block;
  }

  @media (max-width: 425px) {
    & > li {
      margin-bottom: 5px;
    }
  }
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.td-container {
  padding-right: 10px;
  width: 20%;
}