// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  width: 100%;
  height: 100%;

  a {
    padding-left: 5%;
  }

  .row {
    padding-left: 2%;
    padding-right: 2%;
  }

  table {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    border-collapse: collapse;
    border: 0.5px solid $dim-grey;
    box-shadow: 0 0 10px 1px $grey;
  }

  .scrollable {
    overflow: auto;
  } 

  .name, .matric, .contact, .cell, .pos, .role, .del {
    width: 15%;
    text-align: center;
  }

  .email {
    width: 25%;
    text-align: center;
  }

  .role, .del {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (max-width: 720px) {
    .name, .matric, .contact, .cell, .pos, .role, .del, .email {
      font-size: 12px;
    }

    .role, .del {
      font-size: 8px;
    }
  }

  th {
    background-color: $yellow;
    font-weight: bolder;
    height: 50px;
    box-shadow: 0 0.5px $grey;
  }

  td {
    height: 40px;
  }

  tr:nth-child(even) {
    background-color: $cream;
  }

  tr:nth-child(odd) {
    background-color: $dark-cream;
  }
 
  @media (max-device-width: 400px) {
    div.container {
      height: 100%;
    }

    table {
      margin-top: 2%;
    }
  }
}

