// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #000000;
$white: #ffffff;
$yellow: #feb600;
$grey: #808080;
$dimGrey: #696969;
$lightYellow: #ffd700;
$darkCream: #f6e1af;
$cream: #fff8dc;

.list {
  width: 100%;
  height: 100%;

  h1 {
    width: 100%;
    margin-top: 0;
    padding-top: 3.5%;
    padding-left: 5%;
    padding-bottom: 2%;
    color: $yellow;
    background-color: black;
    box-shadow: 0px 1px 10px $grey,
                inset 1px -3px 3px -1px $grey;
    text-shadow: 0 -0.5px 0 $lightYellow,
                 0 0.5px 0 $lightYellow;
    font-family: Verdana, sans-serif;
  }

  a {
    padding-left: 5%;
  }

  .row {
    padding-left: 2%;
    padding-right: 2%;
  }

  table {
    margin-top: 2%;
    width: 100%;
    border-collapse: collapse;
    border: 0.5px solid $dimGrey;
    box-shadow: 0 0 10px 1px $grey;
  }

  .name, .matric, .contact, .cell, .pos, .role, .del {
    width: 15%;
    text-align: center;
  }

  .email {
    width: 25%;
    text-align: center;
  }

  .role, .del {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    background-color: $yellow;
    font-weight: bolder;
    height: 50px;
    box-shadow: 0 0.5px $grey;
  }

  td {
    height: 30px;
  }

  tr:nth-child(even) {
    background-color: $cream;
  }

  tr:nth-child(odd) {
    background-color: $darkCream;
  }
 
  @media (max-device-width: 400px) {
    h1 {
      margin-top: 10%;
    }

    div.container {
      height: 100%;
    }

    table {
      margin-top: 2%;
    }
  }

}
