// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  height: 100%;
  width: 100%;

  a {
    padding-left: 5%;
  }

  .row {
    padding-left: 2%;
    padding-right: 2%;
  }

  table {
    border: .5px solid $dim-grey;
    border-collapse: collapse;
    box-shadow: 0 0 10px 1px $grey;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 100%;
  }

  .scrollable {
    overflow: auto;
  }

  .name,
  .matric,
  .contact,
  .cell,
  .pos,
  .role,
  .change-pw,
  .del {
    text-align: center;
    width: 15%;
  }

  .email {
    text-align: center;
    width: 25%;
  }

  .role,
  .change-pw,
  .del {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (max-width: 720px) {
    .name,
    .matric,
    .contact,
    .cell,
    .pos,
    .role,
    .del,
    .email {
      font-size: 12px;
    }

    .role,
    .change-pw,
    .del {
      font-size: 8px;
    }
  }

  th {
    background-color: $yellow;
    box-shadow: 0 .5px $grey;
    font-weight: bolder;
    height: 50px;
  }

  td {
    height: 40px;
  }

  tr:nth-child(even) {
    background-color: $cream;
  }

  tr:nth-child(odd) {
    background-color: $dark-cream;
  }

  @media (max-device-width: 400px) {
    .container {
      height: 100%;
    }

    table {
      margin-top: 2%;
    }
  }

  .users-btn {
    box-shadow: 0 2px 2px $grey;
    font-size: 13px;
    margin-top: 5px;
  }
}

