<div class="availabilities-title-container">
  <h2 class="availabilities-title">Schedule Availability</h2>
</div>
<div class="availabilities-navbar-button-container">
  <%= submit_tag("Update", id: 'update-button', data: { disable_with: false }, class: "btn btn-large btn-primary disabled btn-nav") %>
  <%= submit_tag("Clear All", id: 'clear-all-button', data: { disable_with: false }, class: "btn btn-large btn-warning white-text btn-nav")%>
  <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-danger disabled btn-nav") %>
</div>
